<link href="{{ url_for('static',filename='index.css') }}" rel="stylesheet" type="text/css"/>

{% extends "bootstrap/base.html" %}
{% block title %}D-Web{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename = 'D.ico') }}"
type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename = 'D.ico') }}"
type="image/x-icon">
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
	<div class="container">
		<div class="navbar-collapse collapse">
			<ul class="nav nav-pills">
				<li class="activate"><a href="/">Home</a></li>
				<li ><a href="/">One</a></li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}


{% block content %}
<div class="container">
	{% block page_content %}{% endblock %}
</div>
<div id=footer class="container" >
	<p class="text-center text-info lead">
		&copy; D.Wang 2016 
		<br>
		<a href="https://github.com/Wxtrkbc/Dweb">Github</a>
	</p>
</div>	
{% endblock %}




