
{% extends "base.html" %}
{% block page_content %}
	<div id=body class="container">
		<div class="row">
			<div class="col-md-10" style="font-size: 16px">
				<div>
					<h2 class="text-center">Python全栈工程师的成长之路</h2>
					<br>
					<p>
						Python 是一门简明并强大的面向对象编程语言，由于简单易学且适合快速开发各种程序，Python已经在WEB开发、科学运算、大数据分析处理、自动化运维，网络爬虫，机器学习等方面得到广泛的使用,几乎可以胜任在任何领域和场合,根据权威编程语言排名网站TIOBE 统计，至2016年2月，Python为第5大编程语言，前一段时间发现引力波的科学家使用的就是pythno语言进行编程。
					</p>
					<p>
						本网站文章主要讲如何从零到成长为一名Python全栈开发者，也许之前你可能并没有编程基础，但是这丝毫不影响你通过本网站学习Python，从而成为一名Python全栈工程师。在这里，我将通过最详细的讲解带你一步步成长。	
					</p>
					<br>
					<p>
						本网站会从Python语言基础，函数，面向对象，网络编程，算法，数据库，HTML/CSS/JS以及一些Web框架等各个方面进行讲解，其中会带有大量的实例给大家练习。
					</p>
					<br>
				</div>
				<div>
					<a class="pull-right" href="{{ url_for('python.py1') }}"><span class="glyphicon glyphicon-arrow-right"></span> Python简介</a>
				</div>	
			</div>	
		</div>
	</div>	
{% endblock %}